
<div class="container-fluid" id="nav-head">
	<div class="row">
		<div class="col-md-3">
		</div>
		<div class="col-md-6">
			<h1>BEER <span>GOBLIN</span></h1>
			<h5>Your one stop shop for feeding your beer goblin</h5>
			<img src="images/logo2.png" class="img-responsive">
		</div>
		<div class="col-md-3">
		</div>
	</div>
</div>

<div class="container-fluid" id="index-image">
	<div class="main-img">
		<img src="images/navbeer7.png"  class="img-responsive">
	</div>
</div>

<div class="container-fluid" id="index-content">
	<div class="row">
		<div class="col-md-3">
		</div>
		<div class="col-md-2">
			<h6>1</h6>
			<h1>Grab</h1>
			<p>Grab your beer by browsing through our selection</p>
		</div>
		<div class="col-md-2">
			<h6>2</h6>
			<h1>Go</h1>
			<p>Get our Goblins over to your place</p>
		</div>
		<div class="col-md-2">
			<h6>3</h6>
			<h1>Gather</h1>
			<p>Gather your friends and enjoy your beer without haviing to leave your cave!</p>
		</div>
		<div class="col-md-3">
		</div>
	</div>
	<div class="row" id="index-last-content">
		<div class="col-md-12">
			<h1>What are you waiting for? Get that Beer Goblin to work!</h1>
			</div>
		</div>
	</div>
</div>