/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */




/**********BODY STYLES***********/

body {
  /*****FIX RAILS HEROKU TAG  background-image: url(<%= asset_path 'background1.jpg' %>);*/
  /*****FIX RAILS HEROKU TAG  background: image-url("background1.jpg");*/
  background-image: url("background1.jpg");
	width: 100%;
	height: 100%;
  background-attachment: fixed;
  background-size: cover;
  background-color: green;
  margin: 0;
  padding: 0;
}


/*******************NAVBAR STYLES*******************/

.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: transparent;
  text-align: center;
  margin-top: 40px;
}

.topnav li {
	display: inline;
}

.topnav a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 24px 26px;      
  text-decoration: none;
  font-size: 22px;   
  font-family: 'Alfa Slab One', cursive;
  border-radius: 15px 50px;
}

.topnav a:hover {
	background-color: #009933;
	transition: 0.6s;
}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
.topnav li.icon {
	display: none;
}

@media screen and (max-width:680px) {
  .topnav li:not(:first-child) {
  	display: none;
  }
  .topnav li {
  	float: left;
  }
  .topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
  .topnav.responsive {
  	position: relative;
  }
  .topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive li {
    float: none;
    display: inline;
  }
  .topnav.responsive li a {
    display: block;
    text-align: left;
  }
}


/*********************NAV HEAD LAYOUT AND FONT STYLES********************/

#nav-head {
  max-width: 1000px;
  margin: auto;
  position: relative;
}

#nav-head h1 {
  font-family: 'Alfa Slab One', cursive;
  text-align: center;
  color: #cc7a00;
  font-size: 4em;
  text-shadow: 4px 6px 0 black;
}

#nav-head h1 span {
  font-family: 'Alfa Slab One', cursive;
  text-align: center;
  color: #009933;
  font-size: 1em;
  text-shadow: 7px 6px 0 black;
  font-style: italic;
}

#nav-head h5 {
  font-family: 'Alfa Slab One', cursive;
  text-align: center;
  color: white;
  font-size: 1.3em;
  text-shadow: 6px 0 0 black;
  font-style: italic;
}

#nav-head img {
  margin: 0 auto;
}
@media screen and (max-width: 680px) {
  #nav-head img {
    padding: 0 100px;
  }
}