// Place all the styles related to the payments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.thank-you-page {
	font-family: 'Alfa Slab One', cursive;
	text-align: center;
	color: #cc7a00;
	font-size: 4em;
	text-shadow: 4px 6px 0 black;
	margin-top: 90px;
}