/*// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/


/*********************NAV HEAD LAYOUT AND FONT STYLES********************/

#nav-head {
	max-width: 1000px;
	margin: auto;
	position: relative;
}

#nav-head h1 {
	font-family: 'Alfa Slab One', cursive;
	text-align: center;
	color: #cc7a00;
	font-size: 4em;
	text-shadow: 4px 6px 0 black;
}

#nav-head h1 span {
	font-family: 'Alfa Slab One', cursive;
	text-align: center;
	color: #009933;
	font-size: 1em;
	text-shadow: 7px 6px 0 black;
	font-style: italic;
}

#nav-head h5 {
	font-family: 'Alfa Slab One', cursive;
	text-align: center;
	color: white;
	font-size: 1.3em;
	text-shadow: 6px 0 0 black;
	font-style: italic;
}

#nav-head img {
	margin: 0 auto;
}
@media screen and (max-width: 680px) {
	#nav-head img {
		padding: 0 100px;
	}
}


#index-image img {
	padding: 20px 0 80px 0;
	width: 80%;
}
@media screen and (max-width: 680px) {
 #index-image img {
 	padding: 40px 0 40px 0;
 	margin: 0;
 	width: 100%;
	}
}

.main-img img {
	margin: 0 auto;
}



/********************INDEX PAGE CONTENT STYLES**********************/

#index-content h6 {
	height: 60px;
	width: 60px;
  padding: 14px 16px; 
  margin: 0 auto;
  font-family: 'Alfa Slab One', cursive;     
  font-size: 22px;   
  text-align: center;
  color: #f2f2f2;
  background-color: green;
  border-radius: 70px 25px;
}

#index-content h1 {
  color: #f2f2f2;
  text-align: center;
  font-family: 'Alfa Slab One', cursive;     
  font-size: 22px;   
}

#index-content p {
  color: #f2f2f2;
  text-align: center;
  font-family: 'Alfa Slab One', cursive;
}

#index-last-content h1 {
	color: #cc7a00;
  text-align: center;
  font-family: 'Alfa Slab One', cursive;     
  font-size: 22px;
  text-shadow: 4px 6px 0 black;
  margin-bottom: 50px;
}


/***************NEWS PAGE STYLES*****************/

#news-content h1, h5 {
  color: white;
  text-align: center;
  font-family: 'Alfa Slab One', cursive;     
}