<!DOCTYPE html>
<html>
  <head>
    <title>Beergoblin</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
		<nav class="responsive">
			<ul class="topnav" id="myTopnav">
			  <li><a href="index.html">Home</a></li>
			  <li><a href="beers.html">Beers</a></li>
			  <li><a href="news.html">News</a></li>
			 	<li><a href="contact.html">Contact</a></li>
			  <li><a href="#Orders">Order</a></li>
			  <li><a href="#about.html">Sign In</a></li>
			  <li class="icon"><a href="javascript:void(0);" onclick="myFunction()">&#9776;</a></li>
			</ul>
		</nav>
    <%= yield %>

    <footer>
  &copy; 2016 Beer Goblin
</footer>
  </body>
</html>
